<div class="container">

<% if flash[:info] %>
  <div class='alert alert-info'>
    <%= flash[:info] %>
  </div>
<% end %>

<% if flash[:alert] %>
  <div class='alert alert-danger'>
    <%= flash[:alert] %>
  </div>
<% end %>

<% if flash[:notice] %>
  <div class='alert alert-info'>
    <%= flash[:notice] %>
  </div>
<% end %>

<% if flash[:success] %>
  <div class='alert alert-success'>
    <%= flash[:success] %>
  </div>
<% end %>

<% if flash[:danger] %>
  <div class='alert alert-danger'>
    <%= flash[:danger] %>
  </div>
<% end %>

</div>
